# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.envrc
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE / Editor configs
.vscode/
.idea/
*.iml

# Logs and databases
*.log
*.sqlite3
*.db

# Docker
*.pid
*.sock
docker-compose.override.yml

# MyPy, Pylint, and other static analysis tools
.mypy_cache/
.pytype/
.pylint.d/
.dmypy.json

# Celery
celerybeat-schedule
*.celerybeat.db

# Pytest
.pytest_cache/

# System files
.DS_Store
Thumbs.db
desktop.ini

# Local config files
*.local
*.env
.envrc
